<footer>
    <a href="/clee_resume.pdf" class="aicon-user" ><i class="icon-user_female"></i></a>
    <a href="mailto:clee.christine@gmail.com" class="aicon-mail" ><i class="icon-mail"></i></a>
    <a href="http://www.linkedin.com/pub/christine-k-lee/28/124/391/" class="aicon-linkedin"><i class="icon-linked_in"></i></a>
    <span class="author">CHRISTINE K LEE</span>
</footer>